@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --main-color: #D41E1C;
  --yellow-color: #F3E788;
  --blue-color: #7AABF9;
  --green-color: #7EF178;
}

.bg-primary {
  background-color: var(--background);
}

.main-color {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-y {
  background-color: var(--yellow-color);
}

.bg-b {
  background-color: var(--blue-color);
}

.bg-g {
  background-color: var(--green-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

.font-inter {
  font-family: var(--font-inter), system-ui, sans-serif;
}
