.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 5px 12px;
  border-radius: 8px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: #333; // можно поменять под дизайн
}

.addButton {
  color: #333;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
