.header {
  height: 96px; // h-24
  width: 100%;
  padding: 0 64px; // px-16
  background: #d41e1c;
}

.inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.boardButton {
  width: 100%;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 12px 12px 0 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.active {
  background: #e21f1d;
}

.arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease;
}

.rotated {
  transform: rotate(180deg);
}

.nav {
  a {
    color: white;
    font-weight: bold;
  }
}

.navLink {
  display: flex;
  gap: 0.5rem;
  margin-right: 5px;
}

.navLink:last-child {
  margin-right: 0;
}

.boardWrapper {
  position: relative; 
  display: flex;
  flex-direction: column;
  min-width: 100px; 
}

.dropdown {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%; 
  background: #e21f1d;
  border-radius: 0 0 12px 12px;
  overflow: hidden;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    padding: 12px 16px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
}

.adminButton {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
}
